public/api/wsdl/essuser.wsdl

<definitions 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="http://essentialconnects.test"
   xmlns:wsp="http://www.w3.org/ns/ws-policy" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="http://essentialconnects.test"
   name="EssUserServices"
   >
   <types>
          <xsd:schema><xsd:import namespace="http://essentialconnects.test" schemaLocation="http://essentialconnects.test/api/xsd/essuser.xsd"/></xsd:schema>
   </types>

   <message name="InvalidAuthenticationException">
         <part name="fault" element="tns:InvalidAuthenticationException"/>
   </message>

   <message name="InvalidParameterException">
         <part name="fault" element="tns:InvalidParameterException"/>
   </message>

   <message name="InvalidUserException">
         <part name="fault" element="tns:InvalidUserException"/>
   </message>

   <message name="InvalidEmailException">
         <part name="fault" element="tns:InvalidEmailException"/>
   </message>

   <message name="UnserviceableAddressException">
         <part name="fault" element="tns:UnserviceableAddressException"/>
   </message>

   <message name="InvalidClientException">
         <part name="fault" element="tns:InvalidClientException"/>
   </message>

   <message name="ClientExistsException">
         <part name="fault" element="tns:ClientExistsException"/>
   </message>

   <message name="TokenExpiredException">
         <part name="fault" element="tns:TokenExpiredException"/>
   </message>

   <message name="addClient">
      <part name="parameters" element="tns:addClient" />
   </message>

   <message name="addClientResponse">
      <part name="parameters" element="tns:addClientResponse" />
   </message>

   <message name="addEnquiry">
      <part name="parameters" element="tns:addEnquiry" />
   </message>

   <message name="addEnquiryResponse">
      <part name="parameters" element="tns:addEnquiryResponse" />
   </message>

   <message name="hasChanged">
      <part name="parameters" element="tns:hasChanged" />
   </message>

   <message name="hasChangedResponse">
      <part name="parameters" element="tns:hasChangedResponse" />
   </message>

   <portType name="EssUser">

      <operation name="addClient">
         <input message="tns:addClient" />
         <output message="tns:addClientResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:UnserviceableAddressException" name="UnserviceableAddressException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidClientException" name="InvalidClientException" />
         <fault message="tns:ClientExistsException" name="ClientExistsException" />
         <fault message="tns:TokenExpiredException" name="TokenExpiredException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
         <fault message="tns:InvalidEmailException" name="InvalidEmailException" />
      </operation>

      <operation name="addEnquiry">
         <input message="tns:addEnquiry" />
         <output message="tns:addEnquiryResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
         <fault message="tns:TokenExpiredException" name="TokenExpiredException" />
      </operation>

      <operation name="hasChanged">
         <input message="tns:hasChanged" />
         <output message="tns:hasChangedResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
         <fault message="tns:TokenExpiredException" name="TokenExpiredException" />
      </operation>

   </portType>

   <binding name="EssUserPortBinding" type="tns:EssUser">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

      <operation name="addClient">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="UnserviceableAddressException"><soap:fault name="UnserviceableAddressException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidClientException"><soap:fault name="InvalidClientException" use="literal"/></fault>
         <fault name="ClientExistsException"><soap:fault name="ClientExistsException" use="literal"/></fault>
         <fault name="TokenExpiredException"><soap:fault name="TokenExpiredException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
         <fault name="InvalidEmailException"><soap:fault name="InvalidEmailException" use="literal"/></fault>
      </operation>

      <operation name="addEnquiry">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
         <fault name="TokenExpiredException"><soap:fault name="TokenExpiredException" use="literal"/></fault>
      </operation>

      <operation name="hasChanged">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
         <fault name="TokenExpiredException"><soap:fault name="TokenExpiredException" use="literal"/></fault>
      </operation>

   </binding>

   <service name="EssUserServices">
      <port binding="tns:EssUserPortBinding" name="EssUserPort">
         <soap:address location="http://essentialconnects.test/api/v1/wsdl/essuser" />
      </port>
   </service>
   
</definitions>
