public/api/staging/wsdl/essauth.wsdl

<definitions 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="http://essentialconnects.test"
   xmlns:wsp="http://www.w3.org/ns/ws-policy" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   targetNamespace="http://essentialconnects.test"
   name="EssAuthServices"
   >
   <types>
          <xsd:schema><xsd:import namespace="http://essentialconnects.test" schemaLocation="http://essentialconnects.test/api/staging/xsd/essauth.xsd"/></xsd:schema>
   </types>

   <message name="ProductNotAvailableException">
         <part name="fault" element="tns:ProductNotAvailableException"/>
   </message>

   <message name="InvalidDobException">
         <part name="fault" element="tns:InvalidDobException"/>
   </message>

   <message name="InvalidCrnException">
         <part name="fault" element="tns:InvalidCrnException"/>
   </message>

   <message name="InvalidMedicareNumberException">
         <part name="fault" element="tns:InvalidMedicareNumberException"/>
   </message>

   <message name="InvalidMedicareExpiryException">
         <part name="fault" element="tns:InvalidMedicareExpiryException"/>
   </message>

   <message name="InvalidMedicareReferenceNumberException">
         <part name="fault" element="tns:InvalidMedicareReferenceNumberException"/>
   </message>

   <message name="InvalidCountryException">
         <part name="fault" element="tns:InvalidCountryException"/>
   </message>

   <message name="UserAlreadyExistsException">
         <part name="fault" element="tns:UserAlreadyExistsException"/>
   </message>
   
   <message name="InvalidClientException">
         <part name="fault" element="tns:InvalidClientException"/>
   </message>

   <message name="InvalidPasswordException">
         <part name="fault" element="tns:InvalidPasswordException"/>
   </message>

   <message name="InvalidSecurityTokenException">
         <part name="fault" element="tns:InvalidSecurityTokenException"/>
   </message>

   <message name="InvalidAuthenticationException">
         <part name="fault" element="tns:InvalidAuthenticationException"/>
   </message>

   <message name="InvalidParameterException">
         <part name="fault" element="tns:InvalidParameterException"/>
   </message>

   <message name="InvalidUserException">
         <part name="fault" element="tns:InvalidUserException"/>
   </message>

   <message name="InvalidEmailException">
         <part name="fault" element="tns:InvalidEmailException"/>
   </message>

   <message name="TokenExpiredException">
         <part name="fault" element="tns:TokenExpiredException"/>
   </message>

   <message name="InvalidLoginException">
         <part name="fault" element="tns:InvalidLoginException"/>
   </message>

   <message name="UserNotVipException">
         <part name="fault" element="tns:UserNotVipException"/>
   </message>

   <message name="UnserviceableAddressException">
         <part name="fault" element="tns:UnserviceableAddressException"/>
   </message>

   <message name="addEnquiry">
      <part name="parameters" element="tns:addEnquiry" />
   </message>

   <message name="addEnquiryResponse">
      <part name="parameters" element="tns:addEnquiryResponse" />
   </message>

   <message name="login">
      <part name="parameters" element="tns:login" />
   </message>

   <message name="loginResponse">
      <part name="parameters" element="tns:loginResponse" />
   </message>

   <message name="confirmation">
      <part name="parameters" element="tns:confirmation" />
   </message>

   <message name="processToken">
      <part name="parameters" element="tns:token" />
   </message>

   <message name="processTokenResponse">
      <part name="return" element="tns:tokenResponse" />
   </message>

   <message name="forgotPassword">
      <part name="parameters" element="tns:forgotPassword" />
   </message>

   <message name="forgotPasswordResponse">
      <part name="return" element="tns:forgotPasswordResponse" />
   </message>

   <message name="resetPassword">
      <part name="parameters" element="tns:resetPassword" />
   </message>

   <message name="resetPasswordResponse">
      <part name="parameters" element="tns:resetResponse" />
   </message>

   <message name="addUser">
      <part name="parameters" element="tns:addUser" />
   </message>

    <message name="addUserResponse">
      <part name="parameters" element="tns:addUserResponse" />
   </message>

   <message name="getUser">
      <part name="parameters" element="tns:userDetails" />
   </message>

   <message name="getUserResponse">
      <part name="parameters" element="tns:getUserResponse" />
   </message>

   <message name="canService">
      <part name="parameters" element="tns:canService" />
   </message>

   <message name="canServiceResponse">
      <part name="parameters" element="tns:canServiceResponse" />
   </message>

   <message name="applyNow">
      <part name="parameters" element="tns:applyNow" />
   </message>

   <message name="applyNowResponse">
      <part name="parameters" element="tns:applyNowResponse" />
   </message>

   <portType name="EssAuth">

      <operation name="addEnquiry">
         <input message="tns:addEnquiry"/>
         <output message="tns:addEnquiryResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
      </operation>

      <operation name="login">
         <input message="tns:login"/>
         <output message="tns:loginResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidLoginException" name="InvalidLoginException" />
         <fault message="tns:UserNotVipException" name="UserNotVipException" />
      </operation>

      <operation name="processToken">
         <input message="tns:processToken"/>
         <output message="tns:processTokenResponse"/>
         <fault message="tns:InvalidSecurityTokenException" name="InvalidSecurityTokenException" />
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
         <fault message="tns:TokenExpiredException" name="TokenExpiredException" />
      </operation>

      <operation name="confirmation">
         <input message="tns:confirmation"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
         <fault message="tns:TokenExpiredException" name="TokenExpiredException" />
      </operation>

      <operation name="forgotPassword">
         <input message="tns:forgotPassword" />
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
      </operation>

      <operation name="resetPassword">
         <input message="tns:resetPassword" />
         <output message="tns:resetPasswordResponse" />
         <fault message="tns:InvalidSecurityTokenException" name="InvalidSecurityTokenException" />
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidUserException" name="InvalidUserException" />
         <fault message="tns:InvalidPasswordException" name="InvalidPasswordException" />
      </operation>

      <operation name="addUser">
         <input message="tns:addUser" />
         <output message="tns:addUserResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidEmailException" name="InvalidEmailException" />
         <fault message="tns:UnserviceableAddressException" name="UnserviceableAddressException" />
         <fault message="tns:InvalidPasswordException" name="InvalidPasswordException" />
         <fault message="tns:UserAlreadyExistsException" name="UserAlreadyExistsException" />
         <fault message="tns:InvalidCountryException" name="InvalidCountryException" />
         <fault message="tns:InvalidMedicareExpiryException" name="InvalidMedicareExpiryException" />
         <fault message="tns:InvalidDobException" name="InvalidDobException" />
         <fault message="tns:InvalidCrnException" name="InvalidCrnException" />
         <fault message="tns:InvalidMedicareNumberException" name="InvalidMedicareNumberException" />
         <fault message="tns:InvalidMedicareReferenceNumberException" name="InvalidMedicareReferenceNumberException" />
      </operation>

      <operation name="getUser">
         <input message="tns:getUser" />
         <output message="tns:getUserResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:TokenExpiredException" name="TokenExpiredException" />
      </operation>

      <operation name="canService">
         <input message="tns:canService" />
         <output message="tns:canServiceResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:UnserviceableAddressException" name="UnserviceableAddressException" />
      </operation>

      <operation name="applyNow">
         <input message="tns:applyNow" />
         <output message="tns:applyNowResponse"/>
         <fault message="tns:InvalidAuthenticationException" name="InvalidAuthenticationException" />
         <fault message="tns:InvalidParameterException" name="InvalidParameterException" />
         <fault message="tns:InvalidEmailException" name="InvalidEmailException" />
         <fault message="tns:UnserviceableAddressException" name="UnserviceableAddressException" />
         <fault message="tns:ProductNotAvailableException" name="ProductNotAvailableException" />
      </operation>

   </portType>

   <binding name="EssAuthPortBinding" type="tns:EssAuth">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="addEnquiry">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
      </operation>

      <operation name="login">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidLoginException"><soap:fault name="InvalidLoginException" use="literal"/></fault>
         <fault name="UserNotVipException"><soap:fault name="UserNotVipException" use="literal"/></fault>
      </operation>

      <operation name="processToken">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidSecurityTokenException"><soap:fault name="InvalidSecurityTokenException" use="literal"/></fault>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
         <fault name="TokenExpiredException"><soap:fault name="TokenExpiredException" use="literal"/></fault>
      </operation>

      <operation name="confirmation">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
         <fault name="TokenExpiredException"><soap:fault name="TokenExpiredException" use="literal"/></fault>
      </operation>

       <operation name="forgotPassword">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
      </operation>

      <operation name="resetPassword">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidSecurityTokenException"><soap:fault name="InvalidSecurityTokenException" use="literal"/></fault>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidUserException"><soap:fault name="InvalidUserException" use="literal"/></fault>
         <fault name="InvalidPasswordException"><soap:fault name="InvalidPasswordException" use="literal"/></fault>
      </operation>

      <operation name="addUser">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidEmailException"><soap:fault name="InvalidEmailException" use="literal"/></fault>
         <fault name="UnserviceableAddressException"><soap:fault name="UnserviceableAddressException" use="literal"/></fault>
         <fault name="InvalidPasswordException"><soap:fault name="InvalidPasswordException" use="literal"/></fault>
         <fault name="UserAlreadyExistsException"><soap:fault name="UserAlreadyExistsException" use="literal"/></fault>
         <fault name="InvalidCountryException"><soap:fault name="InvalidCountryException" use="literal"/></fault>
         <fault name="InvalidMedicareExpiryException"><soap:fault name="InvalidMedicareExpiryException" use="literal"/></fault>
         <fault name="InvalidDobException"><soap:fault name="InvalidDobException" use="literal"/></fault>
         <fault name="InvalidCrnException"><soap:fault name="InvalidCrnException" use="literal"/></fault>
         <fault name="InvalidMedicareNumberException"><soap:fault name="InvalidMedicareNumberException" use="literal"/></fault>
         <fault name="InvalidMedicareReferenceNumberException"><soap:fault name="InvalidMedicareReferenceNumberException" use="literal"/></fault>
      </operation>

      <operation name="getUser">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="TokenExpiredException"><soap:fault name="TokenExpiredException" use="literal"/></fault>
      </operation>

      <operation name="canService">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="UnserviceableAddressException"><soap:fault name="UnserviceableAddressException" use="literal"/></fault>
      </operation>

      <operation name="applyNow">
         <soap:operation soapAction=""/>
         <input><soap:body use="literal"/></input>
         <output><soap:body use="literal"/></output>
         <fault name="InvalidAuthenticationException"><soap:fault name="InvalidAuthenticationException" use="literal"/></fault>
         <fault name="InvalidParameterException"><soap:fault name="InvalidParameterException" use="literal"/></fault>
         <fault name="InvalidEmailException"><soap:fault name="InvalidEmailException" use="literal"/></fault>
         <fault name="UnserviceableAddressException"><soap:fault name="UnserviceableAddressException" use="literal"/></fault>
         <fault name="ProductNotAvailableException"><soap:fault name="ProductNotAvailableException" use="literal"/></fault>
      </operation>

   </binding>

   <service name="EssAuthServices">
      <port binding="tns:EssAuthPortBinding" name="EssAuthPort">
         <soap:address location="http://essentialconnects.test/api/v1/wsdl/essauth" />
      </port>
   </service>
</definitions>
